.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.merriweather{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  background-color:#ffffff;
}
img{
  display: block;
  max-width:100%;
}

/* banner */
.banner{
width:86%;
height: 600px;
margin: 50px 140px 120px;
background-image:linear-gradient(rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)),url('images/Banner\ Image.png');
background-repeat: no-repeat;
background-position: center;
background-size:cover;
border-radius: 16px;
display: flex;
justify-content:center;
align-items: center;
text-align: center;

}
.banner-subtitle{
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 32px;
    font-family:merriweather;


}
.banner-title{
 color: #ffffff;
    font-size: 72px;
    font-family:merriweather;
    line-height: 95px;
}

/* discont 25% */
.discount{
  width: 802px;
  height: 806px;
  margin: 120px 399px 840px 399px;
  display:block;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.discount h1{
  color: #FF0000;
  font-family:inter;
  font-weight: bold;
  font-size:88px;
  margin-bottom: 45px;
}
.holiday{
  color: #FF0000;
  font-family:inter;
  font: size 24px; 
  font-weight: 500;
 margin-bottom: 16px; 
}
.discount h2{
  color: #070211;
  font-family: serif;
  font-weight: bold;
  font-size: 48px;
  margin-bottom:48px;
}
.discount img{
  width: 800px;
  height: 500px;
}